/* CSS reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Default fonts */

body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
