/* #region CSS reset */
/* Adapted from https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	overflow-wrap: break-word;
	hyphens: auto;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* #endregion */

/* #region Default fonts */

body {
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

/* #endregion */

/* #region Default colors */

body {
	background: rgb(8, 8, 16);
	color: white;
}

/* #endregion */

/* #region Header */

header {
	position: fixed;
	width: 100%;
}

header > h1 {
	float: left;
	font-size: 2.5rem;
}

nav {
	text-align: right;
	padding-right: 1rem;
}

nav > ul {
	padding: 0; /* Remove default list padding */
}

nav > ul > li {
	display: inline-block;
	padding: 0 .5rem;
	margin: 0 .1rem;
}

nav > ul > li > a {
	font-size: 1.4rem;
	color: white;
	text-decoration: none;
}

nav .active {
	border-bottom: 2px solid #e67f6a;
}

nav .active > a {
	color: #e67f6a;
}

/* #endregion */
