/* #region CSS reset */
/* Adapted from https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	overflow-wrap: break-word;
	hyphens: auto;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

a:visited {
	color: inherit;
}

/* #endregion */

/* #region Site-wide defaults */

body {
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	background: #080810;
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

/* Highlight intentionally unavailable links */
a[href="#"] {
	cursor: not-allowed;
}

button {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	padding: 0.5rem 2rem;
	background: #d99748 padding-box;
	color: #080810;
	border: 3px solid transparent;
	border-radius: 0.4rem;
}

button:hover {
	background-color: #bf6836;
}

button:focus {
	border: 3px solid rgba(191, 104, 54, 0.7);
}

a > button {
	cursor: pointer;
}

.labelled-button {
	display: flex;
	width: max-content;
	flex-direction: column;
	align-items: center;
}

/* #endregion */

/* #region Header */

header {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 2;
}

.main-logo {
	position: fixed;
}

/* Hide the logo inside the header when the duplicate one is present */
.main-logo + header > h1 {
	visibility: hidden;
}

header > h1,
.main-logo {
	margin-left: 1rem;
	font-size: 2.5rem;
}

header > h1 > a,
.main-logo > a {
	text-decoration: none;
}

nav {
	text-align: right;
	padding-right: 1rem;
}

nav > ul {
	padding: 0; /* Remove default list padding */
}

nav > ul > li {
	display: inline-block;
	padding: 0 0.5rem;
	margin: 0 0.1rem;
}

nav > ul > li > a {
	font-size: 1.4rem;
	color: white;
	text-decoration: none;
}

nav li:hover {
	border-bottom: 2px solid white;
}

nav li.active {
	border-bottom: 2px solid #d99748;
}

nav .active > a {
	color: #d99748;
}

/* #endregion */

/* #region Hero */

#hero {
	height: 80vh;
	display: flex;
	background: url(../images/hero.jpg) center/cover fixed, rgba(0, 0, 0, 0.6);
	background-blend-mode: overlay;
	flex-direction: column;
	justify-content: center;
	padding: 0 8vw;
	position: relative;
	z-index: 1;
}

#hero > * {
	border-left: 1rem solid white;
	padding-left: 1rem;
}

#hero > h1 {
	font-size: 6rem;
	line-height: 1;
}

#hero > h2 {
	font-size: 2.5rem;
	padding-bottom: 2rem;
}

#hero > .labelled-button {
	padding-bottom: 1rem;
}

/* #endregion */
